html
    font-size 62.5%
    box-sizing border-box

body
    font-family 'Montserrat'
    color color-gray
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    background color-white

*
*:before
*:after 
    box-sizing: inherit
    // border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0

    display block

input
    outline none
    border none

a
    text-decoration none
    color purple 

h1, h2, h3, p, blockquote, figure
    reset()

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay
    background-color #f7941d
    position absolute
    height 100%
    width 100%
    top 0
    opacity 0.35

h2
    text-transform uppercase
    text-align center !important
    font-size 3.2rem
    color color-gray

button
    padding 1.4rem 2.6rem
    min-width 13.5rem

    color color-white
    text-transform uppercase

    background-color color-green

    border-radius small-border-radius

    margin 0 auto

main
    margin-top -13rem

p,blockquote
    text-align center
    font-family 'Domine'
    color color-lightgray
    font-size 1.5rem
    line-height 2.8rem

.grid  
    max-width 117rem
    margin-left auto
    margin-right auto
    &__cell
        font-size 1.4rem

.circle-switcher
    text-align center !important
    a
        display inline-block
        width 1.6rem
        height 1.6rem
        
        margin 0 0.35rem

        border 0.2rem solid color-white
        border-radius big-border-radius

        position relative
        
        &.selected
            border 0.2rem solid color-green
            &::after
                content ''
                display block
                position absolute
                left 0 
                right 0
                bottom 0
                top 0
                margin auto

                width 0.4rem
                height 0.4rem

                border 0.2rem solid color-green
                border-radius big-border-radius

/*-------------------------------
------------ HEADER -------------
-------------------------------*/

header
    base-markup-for-pages(3.7rem,3.7rem, transparent)
    z-index 999 

    .menu
        text-align justify
        line-height 0
        padding-right 5rem 

        a
            color color-white
            text-transform uppercase
            font-weight font-weight-regular

            &.selected
                color color-orange

        .helper
            display inline-block
            width 100%
            zoom 1

    .contact
        height 4rem

        .phone
            display inline-block
            padding-left 3rem
            margin-right 5rem           

            background-image url(/app/images/phone.png)
            background-repeat no-repeat
            background-position 0

            color color-white
            font-size 1.5rem
            vertical-align middle

        a
            display inline-block
            width 3rem
            height 3rem

            background-color color-blue
            background-image url(/app/images/email.png)
            background-repeat no-repeat
            background-position center
            
            border-radius big-border-radius
            vertical-align middle


/*-------------------------------
------------- HOME --------------
-------------------------------*/

.home
    base-markup-for-pages(23rem,7rem,,'/app/images/background.png')
    text-align center
    color color-white

    article
        margin-bottom 4rem

        text-transform uppercase
        text-align center !important

        .slogan
            font-size 1.6rem
        h1
            font-size 4.8rem
    
    .industry-item
        background-color color-blue

        padding-top 8rem
        padding-bottom 8.5rem 

        margin-bottom 10rem

        font-weight font-weight-bold
        font-size 2rem
        text-transform uppercase

        &:hover
            background-color color-orange

        .icon
            width 7rem
            height 7rem
            margin 0 auto
            margin-bottom 2rem

            background-position center
            background-repeat no-repeat

            &.education
                background-image url(/app/images/industry/education.png)
            &.business
                background-image url(/app/images/industry/business.png)
            &.technology
                background-image url(/app/images/industry/technology.png)
            &.banking
                background-image url(/app/images/industry/banking.png)


/*-------------------------------
------------ ABOUT --------------
-------------------------------*/

.about
    base-markup-for-pages(8rem,8rem)

    article
        p
            padding 0 2.5rem
            margin-top 2.5rem
            margin-bottom 3.5rem

        button
            margin 0 auto
            margin-bottom 10.5rem
    
    .sponsors
        margin 0 6rem
        a
            display inline-block
            height 5rem
            min-width 18.5rem
            vertical-align middle
            padding 0 1.2rem

            position relative
            img
                display inline-block
                position absolute
                left 0
                right 0
                top 0
                bottom 0
                margin auto

    .arrow
        reset()
        min-width 0

        width 3.1rem
        height 3.1rem

        background-color transparent
        background-image url(/app/images/sponsors/arrow.png)

        &:hover
            background-image url(/app/images/sponsors/arrow_active.png)

        &.right
            transform scaleX(-1)
            margin-right 0

/*-------------------------------
----------- FEATURES ------------
-------------------------------*/

.features
    base-markup-for-pages(8.5rem,0,#e7eff1)
    
    .logo
        padding 0

    .feature-item
        margin-top 5.5rem

        .icon
            height 4rem

            background-repeat no-repeat
            background-position center

            &.support
                background-image url(/app/images/features/support.png)
            &.security
                background-image url(/app/images/features/security.png)
            &.boosting
                background-image url(/app/images/features/boosting.png)  
            &.process
                background-image url(/app/images/features/process.png)

        .description
            padding 0

    h3
        text-transform uppercase
        margin-bottom 1.4rem
        font-size 1.7rem

    .left
        padding-right 0
        h3, p
            text-align right !important
    .right
        padding-left 0
        h3, p
            text-align left !important


    .boost
        base-markup-for-pages(1.6rem,1.6rem,color-gray)
        margin-top 9rem

        p
            text-align left
            font-size 2rem
            color color-white
            margin-left 1.5rem

        button
            margin 0 auto

/*-------------------------------
----------- PROJECTS ------------
-------------------------------*/

.projects
    base-markup-for-pages(9rem,9rem)

    .project-item
        margin-top 3rem
        margin-bottom 4.5rem

        &:hover
            background-color color-orange

            h3, p
                color color-white

            .description
                border 0.1rem solid transparent
                

        .photo
            overflow hidden
            height 29.5rem
            position relative
            background-color: black

            img 
                opacity 0.8
                max-width 120%

            .title
                position absolute
                top 2rem
                left 2rem
                min-width 11rem
                padding 0.8rem 2.4rem

                font-size 1.2rem
                text-transform uppercase
                color color-white

                border: 0.2rem solid lighten(color-orange, 15%)
                border-radius small-border-radius

            nav 
                position absolute
                right 2.5rem
                bottom 2rem

        .description
            padding 2.8rem

            border 0.1rem solid #dae5e8

            h3
                font-size 2rem
                text-transform uppercase
                margin-bottom 1.5rem            
            h3, p
                text-align left 
            
/*-------------------------------
----------- SERVICES ------------
-------------------------------*/

.services
    base-markup-for-pages(9rem,9rem,#fffaf3)
    
    .service-item
        margin-top 5rem
        margin-bottom 4rem

        .icon
            margin-bottom 2rem

            width 4.5rem
            height 4.5rem
            background-repeat no-repeat
            background-position center

            &.business
                background-image url(/app/images/services/business.png)
            &.boost
                background-image url(/app/images/services/boost.png)
            &.accounting
                background-image url(/app/images/services/accounting.png)

        h3
            text-transform uppercase
            font-size 1.8rem
            margin-bottom 1rem
        p
            text-align left

/*-------------------------------
--------- TESTIMONIALS ----------
-------------------------------*/

.testimonials
    base-markup-for-pages(9rem,8.5rem, color-blue)  
    
    color color-white

    .grid:first-child
        position relative

        &:after
            content ''
            display block
            position absolute
            width 16.2rem
            height 13.1rem

            left 0
            top -9rem

            background-image url(/app/images/testimonials/quote.png) 

    h2, h3, p, blockquote
        text-align center
        color color-white

    .gallery
        width 87%
        margin 3rem auto

        .photo
            margin 0 0.5rem
            display inline-block
            overflow hidden
            vertical-align middle

            border-radius big-border-radius
            width 5.6rem
            height @width

            &.selected
                width 6.8rem
                height @width

            img 
                max-width 100%

    blockquote
        &:after
            content ''
            display block
            width 1.7rem
            height 0.2rem
            margin 2.5rem auto

            background-color color-white

    h3
        text-transform uppercase
        font-size 1.4rem
        margin 1rem 0 