html
    font-size 62.5%
    box-sizing border-box

body
    font-family 'Lato'
    color color-white
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    background black

*
*::before
*::after 
    box-sizing: inherit
    // border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0

    display block

input
    outline none
    border none

a
    text-decoration none
    color black


h1, h2, h3, p, blockquote
    reset()

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay
    background-color #f7941d
    position absolute
    height 100%
    width 100%
    top 0
    opacity 0.35

button
    padding 1.8rem 3rem
    min-width 20rem

    color #ffffff
    text-transform uppercase
    font-weight font-weight-bold

    background-color color-pink

    border-radius big-border-radius

/*-------------------------------
------------ HEADER -------------
-------------------------------*/

