/*! Avalanche | MIT License | @colourgarden */
/**
 * SETTINGS
 */
/**
 * LOGIC aka THE MAGIC
 */
/**
 * GRID LAYOUT
 */
 .grid {
  display: block;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -30px;
  font-size: 0;
}

.grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}

.grid--center {
  text-align: center;
}
.grid--center > .grid__cell {
  text-align: left;
}

.grid__cell--center {
  display: block;
  margin: 0 auto;
}

.grid--right {
  text-align: right;
}
.grid--right > .grid__cell {
  text-align: left;
}

.grid--middle > .grid__cell {
  vertical-align: middle;
}

.grid--bottom > .grid__cell {
  vertical-align: bottom;
}

.grid--flush {
  padding-left: 0;
  padding-right: 0;
}
.grid--flush > .grid__cell {

}

.grid--tiny {
  margin-left: -5px;
}
.grid--tiny > .grid__cell {
  padding-left: 5px;
}

.grid--small {
  margin-left: -10px;
}
.grid--small > .grid__cell {
  padding-left: 10px;
}

.grid--large {
  margin-left: -40px;
}
.grid--large > .grid__cell {
  padding-left: 40px;
}

.grid--huge {
  margin-left: -80px;
}
.grid--huge > .grid__cell {
  padding-left: 80px;
}

.grid--auto > .grid__cell {
  width: auto;
}

/**
 * GRID WIDTHS
 */
.\31\/2, .\32\/4, .\33\/6, .\34\/8, .\35\/10, .\36\/12 {
  width: 50%;
}

.\31\/3, .\32\/6, .\33\/9, .\34\/12 {
  width: 33.33333%;
}

.\32\/3, .\34\/6, .\36\/9, .\38\/12 {
  width: 66.66667%;
}

.\31\/4, .\32\/8, .\33\/12 {
  width: 25%;
}

.\33\/4, .\36\/8, .\39\/12 {
  width: 75%;
}

.\31\/5, .\32\/10 {
  width: 20%;
}

.\32\/5, .\34\/10 {
  width: 40%;
}

.\33\/5, .\36\/10 {
  width: 60%;
}

.\34\/5, .\38\/10 {
  width: 80%;
}

.\31\/6, .\32\/12 {
  width: 16.66667%;
}

.\35\/6, .\31\30\/12 {
  width: 83.33333%;
}

.\31\/7 {
  width: 14.28571%;
}

.\32\/7 {
  width: 28.57143%;
}

.\33\/7 {
  width: 42.85714%;
}

.\34\/7 {
  width: 57.14286%;
}

.\35\/7 {
  width: 71.42857%;
}

.\36\/7 {
  width: 85.71429%;
}

.\31\/8 {
  width: 12.5%;
}

.\33\/8 {
  width: 37.5%;
}

.\35\/8 {
  width: 62.5%;
}

.\37\/8 {
  width: 87.5%;
}

.\31\/9 {
  width: 11.11111%;
}

.\32\/9 {
  width: 22.22222%;
}

.\34\/9 {
  width: 44.44444%;
}

.\35\/9 {
  width: 55.55556%;
}

.\37\/9 {
  width: 77.77778%;
}

.\38\/9 {
  width: 88.88889%;
}

.\31\/10 {
  width: 10%;
}

.\33\/10 {
  width: 30%;
}

.\37\/10 {
  width: 70%;
}

.\39\/10 {
  width: 90%;
}

.\31\/11 {
  width: 9.09091%;
}

.\32\/11 {
  width: 18.18182%;
}

.\33\/11 {
  width: 27.27273%;
}

.\34\/11 {
  width: 36.36364%;
}

.\35\/11 {
  width: 45.45455%;
}

.\36\/11 {
  width: 54.54545%;
}

.\37\/11 {
  width: 63.63636%;
}

.\38\/11 {
  width: 72.72727%;
}

.\39\/11 {
  width: 81.81818%;
}

.\31\30\/11 {
  width: 90.90909%;
}

.\31\/12 {
  width: 8.33333%;
}

.\35\/12 {
  width: 41.66667%;
}

.\37\/12 {
  width: 58.33333%;
}

.\31\31\/12 {
  width: 91.66667%;
}

@media screen and (max-width: 499px) {
  .\31\/2--thumb, .\32\/4--thumb, .\33\/6--thumb, .\34\/8--thumb, .\35\/10--thumb, .\36\/12--thumb {
    width: 50%;
  }

  .\31\/3--thumb, .\32\/6--thumb, .\33\/9--thumb, .\34\/12--thumb {
    width: 33.33333%;
  }

  .\32\/3--thumb, .\34\/6--thumb, .\36\/9--thumb, .\38\/12--thumb {
    width: 66.66667%;
  }

  .\31\/4--thumb, .\32\/8--thumb, .\33\/12--thumb {
    width: 25%;
  }

  .\33\/4--thumb, .\36\/8--thumb, .\39\/12--thumb {
    width: 75%;
  }

  .\31\/5--thumb, .\32\/10--thumb {
    width: 20%;
  }

  .\32\/5--thumb, .\34\/10--thumb {
    width: 40%;
  }

  .\33\/5--thumb, .\36\/10--thumb {
    width: 60%;
  }

  .\34\/5--thumb, .\38\/10--thumb {
    width: 80%;
  }

  .\31\/6--thumb, .\32\/12--thumb {
    width: 16.66667%;
  }

  .\35\/6--thumb, .\31\30\/12--thumb {
    width: 83.33333%;
  }

  .\31\/7--thumb {
    width: 14.28571%;
  }

  .\32\/7--thumb {
    width: 28.57143%;
  }

  .\33\/7--thumb {
    width: 42.85714%;
  }

  .\34\/7--thumb {
    width: 57.14286%;
  }

  .\35\/7--thumb {
    width: 71.42857%;
  }

  .\36\/7--thumb {
    width: 85.71429%;
  }

  .\31\/8--thumb {
    width: 12.5%;
  }

  .\33\/8--thumb {
    width: 37.5%;
  }

  .\35\/8--thumb {
    width: 62.5%;
  }

  .\37\/8--thumb {
    width: 87.5%;
  }

  .\31\/9--thumb {
    width: 11.11111%;
  }

  .\32\/9--thumb {
    width: 22.22222%;
  }

  .\34\/9--thumb {
    width: 44.44444%;
  }

  .\35\/9--thumb {
    width: 55.55556%;
  }

  .\37\/9--thumb {
    width: 77.77778%;
  }

  .\38\/9--thumb {
    width: 88.88889%;
  }

  .\31\/10--thumb {
    width: 10%;
  }

  .\33\/10--thumb {
    width: 30%;
  }

  .\37\/10--thumb {
    width: 70%;
  }

  .\39\/10--thumb {
    width: 90%;
  }

  .\31\/11--thumb {
    width: 9.09091%;
  }

  .\32\/11--thumb {
    width: 18.18182%;
  }

  .\33\/11--thumb {
    width: 27.27273%;
  }

  .\34\/11--thumb {
    width: 36.36364%;
  }

  .\35\/11--thumb {
    width: 45.45455%;
  }

  .\36\/11--thumb {
    width: 54.54545%;
  }

  .\37\/11--thumb {
    width: 63.63636%;
  }

  .\38\/11--thumb {
    width: 72.72727%;
  }

  .\39\/11--thumb {
    width: 81.81818%;
  }

  .\31\30\/11--thumb {
    width: 90.90909%;
  }

  .\31\/12--thumb {
    width: 8.33333%;
  }

  .\35\/12--thumb {
    width: 41.66667%;
  }

  .\37\/12--thumb {
    width: 58.33333%;
  }

  .\31\31\/12--thumb {
    width: 91.66667%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .\31\/2--handheld, .\32\/4--handheld, .\33\/6--handheld, .\34\/8--handheld, .\35\/10--handheld, .\36\/12--handheld {
    width: 50%;
  }

  .\31\/3--handheld, .\32\/6--handheld, .\33\/9--handheld, .\34\/12--handheld {
    width: 33.33333%;
  }

  .\32\/3--handheld, .\34\/6--handheld, .\36\/9--handheld, .\38\/12--handheld {
    width: 66.66667%;
  }

  .\31\/4--handheld, .\32\/8--handheld, .\33\/12--handheld {
    width: 25%;
  }

  .\33\/4--handheld, .\36\/8--handheld, .\39\/12--handheld {
    width: 75%;
  }

  .\31\/5--handheld, .\32\/10--handheld {
    width: 20%;
  }

  .\32\/5--handheld, .\34\/10--handheld {
    width: 40%;
  }

  .\33\/5--handheld, .\36\/10--handheld {
    width: 60%;
  }

  .\34\/5--handheld, .\38\/10--handheld {
    width: 80%;
  }

  .\31\/6--handheld, .\32\/12--handheld {
    width: 16.66667%;
  }

  .\35\/6--handheld, .\31\30\/12--handheld {
    width: 83.33333%;
  }

  .\31\/7--handheld {
    width: 14.28571%;
  }

  .\32\/7--handheld {
    width: 28.57143%;
  }

  .\33\/7--handheld {
    width: 42.85714%;
  }

  .\34\/7--handheld {
    width: 57.14286%;
  }

  .\35\/7--handheld {
    width: 71.42857%;
  }

  .\36\/7--handheld {
    width: 85.71429%;
  }

  .\31\/8--handheld {
    width: 12.5%;
  }

  .\33\/8--handheld {
    width: 37.5%;
  }

  .\35\/8--handheld {
    width: 62.5%;
  }

  .\37\/8--handheld {
    width: 87.5%;
  }

  .\31\/9--handheld {
    width: 11.11111%;
  }

  .\32\/9--handheld {
    width: 22.22222%;
  }

  .\34\/9--handheld {
    width: 44.44444%;
  }

  .\35\/9--handheld {
    width: 55.55556%;
  }

  .\37\/9--handheld {
    width: 77.77778%;
  }

  .\38\/9--handheld {
    width: 88.88889%;
  }

  .\31\/10--handheld {
    width: 10%;
  }

  .\33\/10--handheld {
    width: 30%;
  }

  .\37\/10--handheld {
    width: 70%;
  }

  .\39\/10--handheld {
    width: 90%;
  }

  .\31\/11--handheld {
    width: 9.09091%;
  }

  .\32\/11--handheld {
    width: 18.18182%;
  }

  .\33\/11--handheld {
    width: 27.27273%;
  }

  .\34\/11--handheld {
    width: 36.36364%;
  }

  .\35\/11--handheld {
    width: 45.45455%;
  }

  .\36\/11--handheld {
    width: 54.54545%;
  }

  .\37\/11--handheld {
    width: 63.63636%;
  }

  .\38\/11--handheld {
    width: 72.72727%;
  }

  .\39\/11--handheld {
    width: 81.81818%;
  }

  .\31\30\/11--handheld {
    width: 90.90909%;
  }

  .\31\/12--handheld {
    width: 8.33333%;
  }

  .\35\/12--handheld {
    width: 41.66667%;
  }

  .\37\/12--handheld {
    width: 58.33333%;
  }

  .\31\31\/12--handheld {
    width: 91.66667%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .\31\/2--lap, .\32\/4--lap, .\33\/6--lap, .\34\/8--lap, .\35\/10--lap, .\36\/12--lap {
    width: 50%;
  }

  .\31\/3--lap, .\32\/6--lap, .\33\/9--lap, .\34\/12--lap {
    width: 33.33333%;
  }

  .\32\/3--lap, .\34\/6--lap, .\36\/9--lap, .\38\/12--lap {
    width: 66.66667%;
  }

  .\31\/4--lap, .\32\/8--lap, .\33\/12--lap {
    width: 25%;
  }

  .\33\/4--lap, .\36\/8--lap, .\39\/12--lap {
    width: 75%;
  }

  .\31\/5--lap, .\32\/10--lap {
    width: 20%;
  }

  .\32\/5--lap, .\34\/10--lap {
    width: 40%;
  }

  .\33\/5--lap, .\36\/10--lap {
    width: 60%;
  }

  .\34\/5--lap, .\38\/10--lap {
    width: 80%;
  }

  .\31\/6--lap, .\32\/12--lap {
    width: 16.66667%;
  }

  .\35\/6--lap, .\31\30\/12--lap {
    width: 83.33333%;
  }

  .\31\/7--lap {
    width: 14.28571%;
  }

  .\32\/7--lap {
    width: 28.57143%;
  }

  .\33\/7--lap {
    width: 42.85714%;
  }

  .\34\/7--lap {
    width: 57.14286%;
  }

  .\35\/7--lap {
    width: 71.42857%;
  }

  .\36\/7--lap {
    width: 85.71429%;
  }

  .\31\/8--lap {
    width: 12.5%;
  }

  .\33\/8--lap {
    width: 37.5%;
  }

  .\35\/8--lap {
    width: 62.5%;
  }

  .\37\/8--lap {
    width: 87.5%;
  }

  .\31\/9--lap {
    width: 11.11111%;
  }

  .\32\/9--lap {
    width: 22.22222%;
  }

  .\34\/9--lap {
    width: 44.44444%;
  }

  .\35\/9--lap {
    width: 55.55556%;
  }

  .\37\/9--lap {
    width: 77.77778%;
  }

  .\38\/9--lap {
    width: 88.88889%;
  }

  .\31\/10--lap {
    width: 10%;
  }

  .\33\/10--lap {
    width: 30%;
  }

  .\37\/10--lap {
    width: 70%;
  }

  .\39\/10--lap {
    width: 90%;
  }

  .\31\/11--lap {
    width: 9.09091%;
  }

  .\32\/11--lap {
    width: 18.18182%;
  }

  .\33\/11--lap {
    width: 27.27273%;
  }

  .\34\/11--lap {
    width: 36.36364%;
  }

  .\35\/11--lap {
    width: 45.45455%;
  }

  .\36\/11--lap {
    width: 54.54545%;
  }

  .\37\/11--lap {
    width: 63.63636%;
  }

  .\38\/11--lap {
    width: 72.72727%;
  }

  .\39\/11--lap {
    width: 81.81818%;
  }

  .\31\30\/11--lap {
    width: 90.90909%;
  }

  .\31\/12--lap {
    width: 8.33333%;
  }

  .\35\/12--lap {
    width: 41.66667%;
  }

  .\37\/12--lap {
    width: 58.33333%;
  }

  .\31\31\/12--lap {
    width: 91.66667%;
  }
}
@media screen and (min-width: 1160px) {
  .\31\/2--widescreen, .\32\/4--widescreen, .\33\/6--widescreen, .\34\/8--widescreen, .\35\/10--widescreen, .\36\/12--widescreen {
    width: 50%;
  }

  .\31\/3--widescreen, .\32\/6--widescreen, .\33\/9--widescreen, .\34\/12--widescreen {
    width: 33.33333%;
  }

  .\32\/3--widescreen, .\34\/6--widescreen, .\36\/9--widescreen, .\38\/12--widescreen {
    width: 66.66667%;
  }

  .\31\/4--widescreen, .\32\/8--widescreen, .\33\/12--widescreen {
    width: 25%;
  }

  .\33\/4--widescreen, .\36\/8--widescreen, .\39\/12--widescreen {
    width: 75%;
  }

  .\31\/5--widescreen, .\32\/10--widescreen {
    width: 20%;
  }

  .\32\/5--widescreen, .\34\/10--widescreen {
    width: 40%;
  }

  .\33\/5--widescreen, .\36\/10--widescreen {
    width: 60%;
  }

  .\34\/5--widescreen, .\38\/10--widescreen {
    width: 80%;
  }

  .\31\/6--widescreen, .\32\/12--widescreen {
    width: 16.66667%;
  }

  .\35\/6--widescreen, .\31\30\/12--widescreen {
    width: 83.33333%;
  }

  .\31\/7--widescreen {
    width: 14.28571%;
  }

  .\32\/7--widescreen {
    width: 28.57143%;
  }

  .\33\/7--widescreen {
    width: 42.85714%;
  }

  .\34\/7--widescreen {
    width: 57.14286%;
  }

  .\35\/7--widescreen {
    width: 71.42857%;
  }

  .\36\/7--widescreen {
    width: 85.71429%;
  }

  .\31\/8--widescreen {
    width: 12.5%;
  }

  .\33\/8--widescreen {
    width: 37.5%;
  }

  .\35\/8--widescreen {
    width: 62.5%;
  }

  .\37\/8--widescreen {
    width: 87.5%;
  }

  .\31\/9--widescreen {
    width: 11.11111%;
  }

  .\32\/9--widescreen {
    width: 22.22222%;
  }

  .\34\/9--widescreen {
    width: 44.44444%;
  }

  .\35\/9--widescreen {
    width: 55.55556%;
  }

  .\37\/9--widescreen {
    width: 77.77778%;
  }

  .\38\/9--widescreen {
    width: 88.88889%;
  }

  .\31\/10--widescreen {
    width: 10%;
  }

  .\33\/10--widescreen {
    width: 30%;
  }

  .\37\/10--widescreen {
    width: 70%;
  }

  .\39\/10--widescreen {
    width: 90%;
  }

  .\31\/11--widescreen {
    width: 9.09091%;
  }

  .\32\/11--widescreen {
    width: 18.18182%;
  }

  .\33\/11--widescreen {
    width: 27.27273%;
  }

  .\34\/11--widescreen {
    width: 36.36364%;
  }

  .\35\/11--widescreen {
    width: 45.45455%;
  }

  .\36\/11--widescreen {
    width: 54.54545%;
  }

  .\37\/11--widescreen {
    width: 63.63636%;
  }

  .\38\/11--widescreen {
    width: 72.72727%;
  }

  .\39\/11--widescreen {
    width: 81.81818%;
  }

  .\31\30\/11--widescreen {
    width: 90.90909%;
  }

  .\31\/12--widescreen {
    width: 8.33333%;
  }

  .\35\/12--widescreen {
    width: 41.66667%;
  }

  .\37\/12--widescreen {
    width: 58.33333%;
  }

  .\31\31\/12--widescreen {
    width: 91.66667%;
  }
}
