html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
  color: #5a5a5a;
  font-size: 1.4rem;
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  background: #008000;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: block;
}
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
p,
blockquote {
  padding: 0;
  margin: 0;
}
.overlay {
  background-color: #f7941d;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.35;
}
button {
  padding: 1.8rem 3rem;
  min-width: 20rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ed145b;
  border-radius: 3.5rem;
}
