@font-face {
  font-family: 'Lato-thin';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-extralight';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-light';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-regular';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-medium';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-semibold';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-bold';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-extrabold';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-black';
  src: url("../fonts/{fontName}/{urlName}.woff2") format("woff2"), url("../fonts/{fontName}/{urlName}.woff") format("woff"), url("../fonts/{fontName}/{urlName}.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
  color: #5a5a5a;
  font-size: 1.4rem;
  position: relative;
  max-width: 192rem;
  margin: 0 auto;
  background: #f00;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: block;
}
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
p,
blockquote {
  padding: 0;
  margin: 0;
}
.overlay {
  background-color: #f7941d;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.35;
}
button {
  padding: 1.8rem 3rem;
  min-width: 20rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ed145b;
  border-radius: 3.5rem;
}
