!!! 5
%html(lang='en')
    %head
        %meta(charset='UTF-8')
        %meta(content='wclassth=device-wclassth, initial-scale=1.0')
        %meta(http-equiv='X-UA-Compatible' content='ie=edge')
        %title Mache Site
        %link(href='bower_components/bootstrap/dist/css/bootstrap-grid.css' rel='stylesheet')
        %link(href='css/style.css' rel='stylesheet')
    %body
        %header
        %main
            %section.home
        %footer
