!!! 5
%html(lang='en')
    %head
        %meta(charset='UTF-8')
        %meta(content='wclassth=device-wclassth, initial-scale=1.0')
        %meta(http-equiv='X-UA-Compatible' content='ie=edge')
        %title Landr Site
    %body
        %header
            %h2 Но чото долго
        %main
        %footer
        %script(src="js/bundle.js")
