!!! 5
%html(lang='en')
    %head
        %meta(charset='UTF-8')
        %meta(content='wclassth=device-wclassth, initial-scale=1.0')
        %meta(http-equiv='X-UA-Compatible' content='ie=edge')
        %link(rel="stylesheet" href="css/avalanche.css")/
        %title Landr Site
    %body
        %header
            .grid
                %div(class='1/2 grid__cell') 
                    %div 1/2
                %div(class='1/2 grid__cell') 
                    %div 1/2
                %h2.grid__cell Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                %img(src="images/logo.png" alt="")/
        %main
        %footer
        %script(src="js/bundle.js")